@media (color) {
  :root { background: deeppink; color: #020 }
  ::selection { background: skyblue; color: midnightblue }
  :focus { outline-color: mintcream }
  :hover { text-decoration-color: currentColor }
  .bea________ { background: #bea; color: #077 }
  .___ba______ { background: #baa; color: #544 }
  ._____doo___ { background: #d00; color: #bee }
  .________bee { background: #bee; color: #d00 }
}

:root {
  font-family: sans-serif;
  line-height: 1;
  height: 100%;
  width: 100%;
}

body {
  margin: 0;
  height: 100%;
  width: 100%;
}

.mural {
  box-sizing: border-box;
  margin: 0;
  display: flex;
  flex-flow: column;
  height: 100%;
  width: 100%;
}

.volume {
  box-sizing: border-box;
  font-size: calc(10rem + 10vmin);
  font-weight: bold;
  padding: 3rem;
  flex: 1 1 25%;
  margin-inline-end: auto;
  display: flex;
  align-items: center;
}

.bea________ { min-width: 50% }
.___ba______ { min-width: 30% }
._____doo___ { min-width: 80% }
.________bee { min-width: 50% }

:focus {
  outline-style: dashed;
  outline-width: .5rem;
}

.volume:not(:hover) {
  text-decoration: none;
}
